
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Sorting Files App</title>
</head>
<body>
    <h1 style="text-align:center;color:red"> Welcome ! How can I help you ? </h1>
	<div class="container text-center">

		<div id="B1" class="border border-light p-3 mb-4" >
            <form action='result' method="post">
            {% csrf_token %}
			<input type="submit" class="btn btn-info" value="Sorting Folder"style="margin-bottom: 10px; margin-top:20px; border-radius: 10px !important">
            </form>
		</div>
        <div id="B2" class="border border-light p-3 mb-4">
            <form action='result' method="post">
            {% csrf_token %}
			<input type="submit" class="btn btn-info" value="Search Doubles"style="margin-bottom: 10px; margin-top:10px; border-radius: 10px !important">
            </form>
		</div>
        <div id="B3" class="border border-light p-3 mb-4">
            <form action='result' method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-info"  value="Statistics"style="margin-bottom: 10px; margin-top:10px; border-radius: 10px !important">
            </form>
		</div>
        <div id="B4" class="border border-light p-3 mb-4">
            <form action='result' method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-info"  value="All the Above"style="margin-bottom: 10px; margin-top:10px; border-radius: 10px !important">
            </form>
		</div>

	</div>

</body>
</html>